/* Enter Your Custom CSS Here */

.page-id-1504 .colored-line-left {
	display: none;
}

.pirate_forms_wrap {
    margin-top: -42px;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item a.mega-menu-link:before {
  display:none !important;
}
#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item a.mega-menu-link[class^="dashicons"]:before {
  display:inline-block !important;
}
